.buttonAdvance {
    font-size: 25px;
    background-color: #2ECC71;
    color: #000000;
    border-radius: 30px;
    width: 200px;
    height: 52px;
    border:#000000 0.3px solid;
    @media (max-width: 768px) {
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
}
.buttonAdvance:hover {
    box-shadow: #000000 0px 4px 4px 0px;
    cursor: pointer;
}

.buttonAdvanceLogin {
    font-size: 25px;
    background-color: #2ECC71;
    color: #000000;
    border-radius: 30px;
    width: 200px;
    height: 52px;
    border:#000000 0.3px solid;
    @media (max-width: 768px) {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }
}

.buttonAdvanceLogin:hover {
    box-shadow: #000000 0px 4px 4px 0px;
    cursor: pointer;
}

.buttonBack {
    font-size: 25px;
    background-color: #E94E4E;
    color: #000000;
    border-radius: 30px;
    width: 200px;
    height: 52px;
    border:#000000 0.3px solid;
    @media (max-width: 768px) {
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
}
.buttonBack:hover {
    box-shadow: #000000 0px 4px 4px 0px;
    cursor: pointer;
}
.buttonChain{
    font-size: 25px;
    background: lightsteelblue;
    color: #000000;
    border-radius: 30px;
    width: 200px;
    height: 52px;
    border:#000000 0.3px solid;
    @media (max-width: 768px) {
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
}
.buttonChain:hover {
    box-shadow: #000000 0px 4px 4px 0px;
    cursor: pointer;
}


.buttonMenu {
    font-size: 20px;
    color: #000000;
    border-radius: 30px;
    width: 475px;
    height: 67px;
    border:#000000 0.3px solid;
    @media (max-width: 768px) {
        width: 286px;
        height: 49px;
        font-size: 16px;
    }
}
.buttonMenu:hover {
    box-shadow: #000000 0px 4px 4px 0px;
    cursor: pointer;
}

.buttonAnswer{
    width: 730px;
    height: 40px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.3px solid #000000;
    @media (max-width: 768px) {
        width: 100%;
        height: 39px;
        
    }
}
.buttonAnswerNotHover{
    width: 730px;
    height: 40px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.3px solid #000000;
    @media (max-width: 768px) {
        width: 100%;
        height: 39px;
        
    }
}

.buttonAnswer:hover{
    box-shadow: #000000 0px 4px 4px 0px;
    cursor: pointer;
}
.buttonAnswerWrong{
    width: 730px;
    height: 40px;
    border-radius: 24px;
    background: #E94E4E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.3px solid #000000;
    @media (max-width: 768px) {
        width: 100%;
        height: 39px;
        
    }
}


.buttonAnswerRight{
    width: 730px;
    height: 40px;
border-radius: 24px;
background:  #2ECC71;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border: 0.3px solid #000000;
@media (max-width: 768px) {
    width: 100%;
    height: 39px;
    
}
}

.buttonContainerPopup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    margin-top: 20px;
    @media (max-width: 768px) {
      gap: 10px;
    }
  
}

.buttonContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 330px; 
    margin-top: 20px;
    @media (max-width: 768px) {
      gap: 50px;
      justify-content: space-between;
    }
  
}


