.app{
    font-family: 'inter', sans-serif;
}
.labelText {
    min-width: 120px;
    text-align: left;
    font-size: 20px;
    color: #000000;
    
}
.answerText {
    font-size: 15px;
    color: #000000;
    text-align: left;
    margin-left: 10px;
}
.imgLogo {
    width: 240px;
    height: 240px;
    float: center;
    margin-bottom: -20px;
    object-fit: cover;
    border-radius: 50%;
    
}

.icon { /*sonido y musica de settings*/
    width: 120px;     
    height: auto;        
    margin: 10px;
    @media (max-width: 768px) {
        width: 80px;
        height: auto;  
    }       
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
    @media (max-width: 768px) {
        font-size: 20px;
        
    }
}
.ventana-popup {
    position: fixed;
    width: 270px;
    height: 150px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 25px 50px;
    @media screen and (max-width: 768px) {
        width: 50%;
        height: auto;
        padding: 20px;
        
    }
}

.contenido-popup {
    text-align: center;
}

#contenedor-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    margin: 0;
}

.h1-popup {
    font-size: 20px;
}

.container {
    background-image: url('../images/fondo_1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Esto asegura que cubre toda la pantalla */
    padding: 40px;
    text-align: center;
}