.app{
    font-family: 'inter', sans-serif;
}
.labelText {
    min-width: 120px;
    text-align: left;
    font-size: 20px;
    color: #000000;
    
}
.answerText {
    font-size: 15px;
    color: #000000;
    text-align: left;
    margin-left: 10px;
}
.imgLogo {
    width: 240px;
    height: 240px;
    float: center;
    margin-bottom: -20px;
    object-fit: cover;
    border-radius: 50%;
    
}
