.imgProfile {
    width: 220px;
    height: 220px;
    float: center;
    margin-bottom: -20px;
    
}


.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    margin-top: 20px;
}

