.imgLogo {
    width: 240px;
    height: 240px;
    float: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.container {
    background-color: white;
    padding: 40px;
    text-align: center;
}

.estiloTexto {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}

.textLink {
    font-size: 20px;
    color: #00d2cf;
    background-color: transparent;
    border: none;
}
