.settings {
    background-image: url('../../images/fondo_1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Esto asegura que cubre toda la pantalla */
    padding: 40px;
    text-align: center;
}