.imgProfile {
    width: 220px;
    height: 220px;
    float: center;
    margin-bottom: -20px;
    
}


.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    margin-top: 20px;
}

.profileText2 {
    font-size: 25px;
    font-weight: normal;
    color: #000000;
    @media (max-width: 768px) {
        font-size: 16px;
      }
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}