

.estiloTexto {
    font-size: 20px;
    color: #000000;
    margin-top: 10px; 
    margin-right: 10px; 
    
}

.textLink {
    font-size: 20px;
    color: #00d2cf;
    background-color: transparent;
    border: none;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    margin-top: 20px;
}

.inputText {
    padding-left: 12px; 
  }

